* {
    /*border: dotted 1px black;*/
}

html {
    background: aquamarine;
}

body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px auto 70px;
}
navbar, footer {
    background: dimgrey;
    color: white;
    grid-column-start: 1;
    grid-column-end: 4;
}
#kolom3 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#kolom3 img {
    align-self: center;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
#kolom2 {
    background: bisque;
}

